.Tile {
  position: relative;

  border-radius: 1.25rem;
  background: #fafafa;

  grid-auto-rows: min-content;
}
/*todo: перенести стили в mod: _size*/
.Tile_size_s {
  grid-column: span 2;
}
.Tile_size_m {
  grid-column: span 3;
}
.Tile_size_l {
  grid-column: span 4;
  grid-row: span 3;
}

.Tile-Header {
  display: grid;
}
