.Tile_size_m {
  display: flex;
  flex-direction: column;

  grid-column: span 3;
  grid-column: span 3;
}

.TileHeader-Source_size_m {
  grid-column: 1 / span 2;
}
.TileHeader-Time_size_m {
  text-align: right;

  grid-column: 3 / span 2;
}
.Tile-Description_size_m {
  font-size: 1.25rem;
}
