.ButtonNext {
  cursor: pointer;
  transform: rotate(180deg);

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-image: url('../../images/Prev.svg');
  background-repeat: no-repeat;
  background-size: contain;

  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
