.Header {
  z-index: 1;

  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  align-items: center;

  width: 100%;

  background: white;
}

.Header-Logo {
  grid-area: logo;
}

.Header-Menu {
}

.Header-Nav {
  position: relative;

  color: #333333;

  font-family: Arial-BoldMT;
  font-size: 1rem;
  line-height: 1.25rem;

  grid-area: nav;
  justify-self: left;
}
