.Data_dataType_climate {
  display: flex;

  padding-right: 3.25rem;
}
.Tile-Data-Temperature {
  text-align: left;

  color: #000000;

  font-family: ArialMT;
  font-size: 1.125rem;
}

.Tile-Data-Humidity {
  text-align: left;

  color: #000000;

  font-family: ArialMT;
  font-size: 1.125rem;
}

.Tile-Data-TemperatureValue {
  text-align: left;

  color: #000000;

  font-family: Arial-BoldMT;
  font-size: 1.125rem;
  line-height: 1.3rem;
}

.Tile-Data-HumidityValue {
  text-align: left;

  color: #000000;

  font-family: Arial-BoldMT;
  font-size: 1.125rem;
  line-height: 1.3rem;
}
