.Header {
  z-index: 1;

  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  align-items: center;

  width: 100%;
  height: 6rem;

  border-bottom: 1px solid #f0f0f0;
  background: white;

  grid-template: 'logo nav' 'icon icon';
  grid-auto-columns: min-content;
  grid-template-rows: auto 1px;
}

.Header-Logo {
  padding-left: 2.6rem;

  grid-area: logo;
}

.Header-Nav {
  position: relative;

  grid-area: nav;
  justify-self: left;
}

.Button_picture_burger {
  display: none;

  cursor: pointer;

  grid-area: icon;
}
