.Tile {
  position: relative;

  border-radius: 1.25rem;
  background: #fafafa;

  grid-auto-rows: min-content;
}
/*todo: перенести стили в mod: _size*/
.Tile_size_s {
  grid-column: span 2;
}
.Tile_size_m {
  grid-column: span 3;
}
.Tile_size_l {
  grid-column: span 4;
  grid-row: span 3;
}

.Tile-Header {
  display: grid;

  padding-bottom: 1rem;

  color: black;
  -webkit-border-radius: 1.25rem 1.25rem 0 0;
  -moz-border-radius: 1.25rem 1.25rem 0 0;
  border-radius: 1.25rem 1.25rem 0 0;

  -ms-border-radius: 1.25rem 1.25rem 0 0;
  -o-border-radius: 1.25rem 1.25rem 0 0;
}
.Tile-Title {
  grid-column: 2 / span 3;
}
.Tile-Source {
  grid-column: 1 / span 2;
}
.Tile-Time {
  text-align: right;

  grid-column: 3 / span 2;
}

.Tile-InfoData {
  z-index: 1;

  box-sizing: border-box;
  margin: -1rem 0 0 0;

  border: 1px solid #fafafa;
  border-radius: 1.25rem;
  background: #fafafa;
}
